* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
  height: 800px;
  width: 800px;
  margin: auto;
  margin-top: 50px;
  border-radius: 12px;
  box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.1);
  position: relative;
}

.container .grid-div {
  box-sizing: border-box;
  height: 730px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow-x: scroll;
  overflow-y: scroll;
}

.grid-div .grid {
  height: 20px;
  width: 20px;
  border: 1px solid #ccc;
  background: "#ffffff";
  cursor: pointer;
}

.container .buttons-div {
  height: 70px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #0fb7b7;
}

.container .buttons-div button {
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  background: none;
}

.container .buttons-div #clearBtn {
  background: #E07A5F;
  color: #ffffff;
  font-weight: 800;
}

.buttons-div #clearBtn:hover {
  cursor: pointer;
  background: red;
}

.container .buttons-div #saveBtn {
  background: #81B29A;
  color: #ffffff;
  font-weight: 800;
}

.buttons-div #saveBtn:hover {
  cursor: pointer;
  background: green;
}

.container .buttons-div #changeColorBtn {
  background: #F2CC8F;
  color: #ffffff;
  font-weight: 800;
}

.buttons-div #changeColorBtn:hover {
  cursor: pointer;
  background: yellow;
}

.buttons-div #brushBtn {
  border: 1px solid #ccc;
  background-color: #000000;
  color: #ffffff;
  font-weight: 800;
}

.buttons-div #brushBtn:hover {
  cursor: pointer;
  opacity: 0.7;
}

.buttons-div #eraseBtn {
  border: 1px solid #ccc;
}

#eraseBtn:hover {
  cursor: pointer;
  box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.1);
  background-color: #ccc;
}

.buttons-div input {
  border: 1px solid #ccc;
  height: 40px;
  width: 40px;
  border-radius: 40px;
  cursor: pointer;
}